$gap: 10px;
$color-uno: #FFFFFF;
$color-dos: #14213D;
$color-bg: #14213D;

@mixin BorderBox {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;  
}

@mixin Zoom105 {
    transform: scale(1.05); 
    -webkit-transform: scale(1.05);
}

@mixin ResponsiveImg {
    display: block;
    width: 100%;
    @include BorderBox;
}

@font-face {
	font-family: "ContentB";
	src: url("../fonts/AVGARDD_BOLDER.TTF");
}
@font-face {
	font-family: "ContentI";
	src: url("../fonts/AVGARDDO_ITALIC.TTF");
}
@font-face {
	font-family: "ContentL";
	src: url("../fonts/AVGARDN_LIGHT.TTF");
}

.No-Select {
    -webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}